name: Build and Test (Container)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/berkeley-chem-179-279/dev:latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          chmod +x build_testing.sh
          ./build_testing.sh

      - name: Test
        run: ctest --test-dir build --output-on-failure
